*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    /* Dark */

    color: #404149;

}
.container{
    border: 3px solid blue;
    max-width: 1095px;
    margin: 0 auto;
}
.button{
    border: none;
    background: #F7654A;
    padding: 20px;
}
.button span{
    display: block;
    width: 25px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
}
.header_container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.header{
    background-image:url(../img/Rectangle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.inform h1{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 4em;
line-height: 95px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

/* White */

color: #FFFFFF;
max-width: 734px;
margin: 0 auto;
padding-top: 112px;
}
.inform p{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 1.125em;
line-height: 27px;
text-align: center;
text-transform: uppercase;

/* White */

color: #FFFFFF;
padding-top: 20px;
}
.glass{
    background-color: white;
    padding: 57px 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px 30px;
    transform: translate(0px, -125px);
}
.yeet span{
    display: block;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    
    /* Accent */
    
    color: #F7654A;
    
}
.yeet h2{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;

color: #000000;

}
.pole p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    
    color: #999999;
    
}
.gatorade{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px 30px;
    padding-bottom: 150px;
}
.jpg img{
    max-width: 100%;    
}

.lol {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 55px;
    height: 6px;
    background-color: #F7654A;
}
.jpg span{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

/* Dark */

color: #404149;
}

.jpg p{
    font-size: small;
}
.req-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button-req{
    align-self: center;
}
.button-req button{
    padding: 14px 30px;
    border: none;  
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #000000;
}
.req-text h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.req-text p{
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.req-text{
    text-align: left;
    padding: 30px 0;
}
.button-req button img{
    padding-right: 15px;
}
.bulochki{
    background-color: #F7654A;
}
.yeet span{
    color: #F7654A;
}
.services{
    padding-top: 122px;
}
.services h2{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;

color: #000000;
}
.services h3{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;
}
.services h2{
    padding-bottom: 66px;
}
.services_grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 27px 30px;
}
.services_l{
    background: #F7F7F7;
}
.services_l img{
    padding-top: 39px;
}
.services_l h3{
    padding-bottom: 90px;
}
.ss{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 153px;
    padding-bottom: 150px;
}
.ss img{
    max-width: 100%;
}
.partners-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 15px
}
.skarner{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;

/* White */

color: #FFFFFF;
background-color: #404149;
padding-top: 100px;
}
.skarner img{
    padding-bottom: 107px;
}
.reviews h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.25em;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 150px;
  padding-bottom: 64px;
}

.reviews-comm {
  background: #F7F7F7;
}

.reviews-comm h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 6em;
  line-height: 25px;
  text-transform: uppercase;
  color: #F7654A;
  text-align: left;
  padding-left: 28px;
  padding-top: 50px;
}

.reviews-comm p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 21px;
  color: #999999;
  text-align: left;
  padding-bottom: 38px;
  padding-right: 30px;
  padding-left: 30px;
  text-transform: lowercase;
}

.reviews-comm p span {
  text-transform: capitalize;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
  padding-bottom: 30px;
}

.reviews h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.3125em;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #000000;
  text-transform: capitalize;
  padding-top: 30px;
  padding-bottom: 120px;
}

.reviews h4 span {
  color: #F7654A;
}
.reviews{
    padding-bottom: 150px;
}
.con_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 27px 30px;
}
.contacts{
    padding-top: 100px;
    padding-bottom: 150px;
}
.contacts h2{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

/* gray */

color: #999999;
}
.contacts p{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}
.con_email p{
    color: #F7654A;

}
.footer{
    background-color: #404149;
}
.footer p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

text-align: right;

/* White */

color: #FFFFFF;
text-transform:none;
}
.flexy{
    display: flex;
    justify-content: space-between;
    height: 82px;
    align-items: center;
}
/*------------------------------------------ 
Responsive Grid Media Queries - 1280, 1024, 768, 
480 1280-1024 - desktop (default grid) 1024-768 - 
tablet landscape 768-480 - tablet 480-less - 
phone landscape & smaller 
--------------------------------------------*/ 
@media all and (min-width: 1024px) and (max-width: 1280px) {
 
} 
@media all and (min-width: 768px) and (max-width: 1024px) { 

} 
@media all and (min-width: 480px) and (max-width: 768px) { 
    body {
        font-size: 10px;
    }
    .inform h1{
        letter-spacing: 1px;
        line-height: 45px;
    }
    .glass{
        padding: 55px 50px;
        transform: translate(0px, 0px);
    }
} 
@media all and (max-width: 480px) {

}